# Voice Gender
Gender Recognition by Voice and Speech Analysis

This database was created to identify a voice as male or female, based upon acoustic properties of the voice and speech. The dataset consists of 3,168 recorded voice samples, collected from male and female speakers. The voice samples are pre-processed by acoustic analysis in R using the seewave and tuneR packages, with an analyzed frequency range of 0hz-280hz (human vocal range).

## The Dataset
The following acoustic properties of each voice are measured and included within the CSV:

* meanfreq: mean frequency (in kHz)
* sd: standard deviation of frequency
* median: median frequency (in kHz)
* Q25: first quantile (in kHz)
* Q75: third quantile (in kHz)
* IQR: interquantile range (in kHz)
* skew: skewness (see note in specprop description)
* kurt: kurtosis (see note in specprop description)
* sp.ent: spectral entropy
* sfm: spectral flatness
* mode: mode frequency
* centroid: frequency centroid (see specprop)
* peakf: peak frequency (frequency with highest energy)
* meanfun: average of fundamental frequency measured across acoustic signal
* minfun: minimum fundamental frequency measured across acoustic signal
* maxfun: maximum fundamental frequency measured across acoustic signal
* meandom: average of dominant frequency measured across acoustic signal
* mindom: minimum of dominant frequency measured across acoustic signal
* maxdom: maximum of dominant frequency measured across acoustic signal
* dfrange: range of dominant frequency measured across acoustic signal
* modindx: modulation index. Calculated as the accumulated absolute difference between adjacent measurements of fundamental frequencies divided by the frequency range
* label: male or female

In [1]:
# Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Read the CSV
voice = pd.read_csv('voice.csv')
voice.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male

In [3]:
# Assign X (data) and y (target)
X = voice.drop("label", axis=1)
X = voice[["skew", "Q25"]]
y = voice["label"]
print(X.shape, y.shape)

(3168, 2) (3168,)

## Important Step! (Model - Fit - Predict)

In [4]:
# Build a Training Dataset / Testing Dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=15, stratify=y)

In [7]:
# Create a Linear Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [8]:
# Fit the model to the data
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [9]:
# Calculate the Score
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.86489898989899
Testing Data Score: 0.8661616161616161

### Make Predictions

In [10]:
# Make Predictions
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[0:10]}")
print(f"First 10 Actual labels: {y_test[0:10].tolist()}")

First 10 Predictions:   ['male' 'female' 'female' 'female' 'female' 'female' 'female' 'male'
 'male' 'male']
First 10 Actual labels: ['female', 'female', 'female', 'female', 'female', 'female', 'female', 'male', 'female', 'male']

In [11]:
# Full Prediction List
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

      Actual Prediction
1611  female       male
2845  female     female
1820  female     female
2326  female     female
2716  female     female
2551  female     female
2529  female     female
1250    male       male
1863  female       male
1547    male       male
356     male       male
1314    male       male
714     male       male
1558    male       male
1805  female     female
34      male       male
1101    male       male
1613  female       male
155     male       male
787     male       male
392     male       male
861     male       male
2548  female     female
2246  female     female
2754  female     female
1416    male       male
987     male       male
2928  female     female
2002  female       male
1208    male       male
...      ...        ...
2968  female       male
959     male       male
2640  female     female
667     male       male
1955  female     female
1183    male       male
1829  female     female
563     male       male
1474    male     female
2396  female     female
3094  female     female
1508    male       male
1269    male       male
2084  female     female
189     male       male
751     male       male
2725  female     female
581     male       male
1247    male       male
841     male       male
268     male       male
2170  female     female
97      male       male
1844  female     female
2092  female     female
2714  female     female
544     male       male
1004    male       male
487     male       male
1780  female     female

[792 rows x 2 columns]